@import 'ant-design-vue/lib/style/themes/default.less';
// @import 'ant-design-vue/dist/antd.variable.min.css';
// @primary-color: skyblue;

.theme-default {
    .ant-btn {
        color: @white;
    }

    .ant-btn:hover {
        color: @white;
    }

    .ant-btn:focus {
        color: @white;
    }
}



.ant-input-affix-wrapper {
    // @apply rounded-[20]
    border-radius: 20px;
}

.ant-switch {
    // @apply w-16 mr-2 text-2xl bg-skin-main-color;
    width: 64px;
    margin-right: 4px;

}

.ant-switch-handle {
    top: 3px;
}